h1{
    font-size: 45px;
    text-align: left;
    color: aliceblue;
    padding-left: 60px;
    
}
td{
    width: 200px;
    border: solid black 2px;
    color: aliceblue;
    background-color:grey;
}
body{
    background-image: url("/img/tumblr_ogfwr07DWO1u6023bo2_500.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family:Geneva, Tahoma, sans-serif;
}
table{
    margin-left: 30px;
    border-collapse: collapse;
    border: solid black 1px;
}
